.perf{
    border-radius: 20x;
}

body{
    background-image: linear-gradient(to right, #380036, #0CBABA);
}

.bl{
    color: rgb(25, 46, 46);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

